/*Now the CSS*/
.tree {
	display: inline-block;
	padding: 20px;
}

.palette {
	border: 1px transparent;
	border-radius: 25px;
	padding: 20px;
	background-color: #0b419b;
	color:white;
	text-align: center;
	width: 250px;
	font: 1.2em "Fira Sans", sans-serif;
}
.palette:hover {
	cursor: pointer;
	color: #0b419b;
	background-color:white;
	border: 1px solid #0b419b;

}

.produit {
	border: 1px transparent;
	border-radius: 10px;
	padding: 20px;
	background-color: royalblue;
	color:white;
	text-align: center;
	width: 250px;
	font: 1.1em "Fira Sans", sans-serif;
}
.produit:hover {
	border: 1px solid royalblue;

	cursor: pointer;
	color: royalblue;
	background-color:white;
}
.line {
	display: block;
	border-right: 1px solid darkblue;
	height:20px;
	width: 145px;
}
.horizontal {
	display: flex;
}
